body {
    text-align: center;
    font-family: Arial, sans-serif;
}

#game-area {
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 500px;
    background-color: lightgray;
    margin: auto;
    position: relative;
}

.lane {
    width: 80px;
    height: 100%;
    background: #ccc;
    border: 1px solid black;
    position: relative;
}

.number {
    position: absolute;
    width: 50px;
    height: 50px;
    background: green;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}

.buttons {
    margin-top: 20px;
}

.factor-btn {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
}