body {
    text-align: center;
    font-family: Arial, sans-serif;
}

#game-area {
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 500px;
    background-color: lightgray;
    margin: auto;
    position: relative;
    padding: 0;
    border: 1px solid black;
}

.lane {
    flex: 1;
    width: 80px;
    height: 100%;
    background: #ccc;
    border: 1px solid black;
    position: relative;
}

.lane.selected {
    background: lightblue;
}

.number {
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgb(212, 36, 80);
    color: white;
    border-radius: 0;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.buttons {
    margin-top: 20px;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#change-all-btn {
    padding: 0;
    width: 60px;
    height: 60px;
    margin: 5px;
    background-image: url('img/change.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.factor-btn {
    width: 60px;
    height: 60px;
    font-size: 30px;
    margin: 5px;
    border-radius: 50%;
    border: none;
    background-color: rgb(13, 214, 174);
    cursor: pointer;
    transition: background 0.3s;
}

.factor-btn:hover,
#change-all-btn:hover {
    background-color: rgb(19, 247, 99);
}

.score-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
}

.score-container h2 {
    margin: 5px 0;
    line-height: 1.2;
}