body {
    text-align: center;
    font-family: Arial, sans-serif;
}

#game-area {
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 500px;
    background-color: lightgray;
    margin: auto;
    position: relative;
    padding: 0;
    border: 1px solid black;
}

.lane {
    flex: 1;
    width: 80px;
    height: 100%;
    background: #ccc;
    border: 1px solid black;
    position: relative;
}

.lane.selected {
    background: lightblue;
}

.number {
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgb(212, 36, 80);
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.buttons {
    margin-top: 20px;
}

.factor-btn {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
}