body {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: rgb(26, 172, 191)
}

#game-area {
    display: flex;
    justify-content: center;
    width: 75%;
    height: 60vh;
    max-width: 400px;
    max-height: 500px;
    /* background-color: lightgray; */
    margin: auto;
    position: relative;
    padding: 0;
    border: 1px solid black;
    background-size: cover;
    background-position: center;
    transition: background 1s ease-in-out;
}

/* レベル1の背景 - 都市 */
.level1 {
    background-image: url('images/city.png');
}

/* レベル2の背景 - 空 */
.level2 {
    background-image: url('images/sky.png');
}

/* レベル3の背景 - 宇宙 */
.level3 {
    background-image: url('images/space.png');
}

.lane {
    flex: 1;
    width: 25%;
    height: 100%;
    max-width: 100px;
    /* background: #ccc; */
    border: 1px solid black;
    position: relative;
}

.lane.selected {
    background: rgba(173, 216, 230, 0.462);
}

.number,
.fast-number {
    position: absolute;
    width: 75%;
    max-width: 60px;
    max-height: 60px;
    color: white;
    border-radius: 0;
    text-align: center;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.fast-number {
    color: red;
}

.buttons {
    margin-top: 20px;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#change-all-btn {
    padding: 0;
    margin: 5px;
    background-image: url('images/change.png');
    background-size: cover;
    background-position: center;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.3), 0px 7px 10px rgba(0, 0, 0, 0.2);
}

.factor-btn {
    padding: 0;
    margin: 5px;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: rgb(203, 28, 72);
    cursor: pointer;
    transition: background 0.3s;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3), 0px 7px 10px rgba(0, 0, 0, 0.2);
}

#change-all-btn:active {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 3px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(3px);
}

.score-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
}

.score-container h2 {
    margin: 5px 0;
    line-height: 1.2;
}

.result-effect {
    position: absolute;
    opacity: 1;
    transition: opacity 1s ease-out, transform 1s ease-out;
    pointer-events: none;
    z-index: 1000;
}

.result-effect.fade-out {
    opacity: 0;
    transform: translateY(-20px);
}