body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c3e50;
}

canvas {
    background-color: #ecf0f1;
    border: 2px solid black;
}